.ez5-nested--list {
	> .ez5-nested-fields {
		> .ez5-field {
			&.ez5-custom-data-type-location {
				margin-top: 12px;
			}
		}
	}
}

.ez5-custom-data-type-location {
	> .ez5-field-value {
		align-items: center;

		> .cui-horizontal-layout-left {
			margin-right: 3px;
		}
	}

	.cui-horizontal-layout {
		border: 1px solid $soft-border;
		padding: 5px;
        transition: box-shadow 0.5s ease-in-out;

		&.ez5-marker-highlight {
			box-shadow: 0 0 10px 0 $highlight-color;
            transition: box-shadow 0.5s ease-in-out;
		}

		.cui-horizontal-layout-left {
			padding-left: 10px;
			padding-right: 15px;
			margin-right: auto;
		}

		.cui-horizontal-layout-center {
			display: inline-block;
		}

		.cui-horizontal-layout-right {
			padding-right: 10px;
			margin: auto;
		}
	}
}

.cui-form-field-name--group {
	flex-grow: 1 !important;
}
