.ez5-nested--list {
	> .ez5-nested-fields {
		> .ez5-field {
			&.ez5-custom-data-type-location {
				margin-top: 12px;
			}
		}
	}
}

.ez5-custom-data-type-location {
	margin-top: 3px;
	
	> .ez5-field-value {
		align-items: center;

		> .cui-horizontal-layout-left {
			margin-right: 3px;
		}
	}

	.cui-icon-marker {
		@include clickable;
		transition: filter .5s ease-in-out;

		.ez5-marker-highlight & {
			filter: drop-shadow(0 0 5px #{$highlight-color});
		}
	}

	.cui-horizontal-layout {
		overflow: visible;

		.cui-horizontal-layout-left {
			margin-right: 0;
		}

		.cui-horizontal-layout-center {
			display: inline-block;
			margin: 0 10px;
		}
	}
}

.cui-form-field-name--group {
	flex-grow: 1 !important;
}

.cui-browser-ie:not(.cui-browser-edge) {
	// IE fallback for filter
	.ez5-custom-data-type-location .cui-icon-marker {
		transition: box-shadow .5s ease-in-out;

		.ez5-marker-highlight & {
			box-shadow: 0 0 10px 2px $highlight-color;
		}
	}
}